*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

main{
    display: inline-block;
    text
}


header{
    width: 100vw;
    background-color: black;
    color: white;
}