*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

main{
    display: inline-block;
    justify-content: center;
    text-align: left;
}


header{
    width: 100vw;
    background-color: black;
    color: white;
}

article .box{
    widh
}